<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<input id="id1" type="text" value="world">
<button type="button" onclick="emit()">Emit</button>
<br>
<textarea id="id2" style="width: 300px; height: 300px"></textarea>
<script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script>
    const socket = io('http://10.192.168.16:5000', {"transports" : ["websocket"]});
    socket.on("onMessage", function (data) {
        $('#id2').val($('#id2').val() + $('#id1').val() + '->' + data)
    });
    
    function emit(){
        socket.emit('onMessage', $('#id1').val())
    }

</script>
</body>
</html>